# load configuration from a file
# -config               

# dump configuration to a file
# -dumpconfig           

# print help message
# -h                          false 

# verbose operation
# -v                          false 

# enable debug message
# -d                          false 

# start in Dlite debugger
# -i                          false 

# random number generator seed (0 for timer seed)
-seed                             1 

# initialize and terminate immediately
# -q                          false 

# restore EIO trace execution from <fname>
# -chkpt                     <null> 

# redirect simulator output to file (non-interactive only)
# -redir:sim                 <null> 

# redirect simulated program output to file
# -redir:prog                <null> 

# simulator scheduling priority
-nice                             0 

# maximum number of inst's to execute
-max:inst                         0 

# l1 data cache config, i.e., {<config>|none}
-cache:dl1             dl1:256:32:1:l 

# l2 data cache config, i.e., {<config>|none}
-cache:dl2             dl2:1024:64:4:l 

# l3 data cache config, i.e., {<config>|none}
-cache:dl3             dl3:2048:64:4:l

# l1 inst cache config, i.e., {<config>|dl1|dl2|dl3|none}
-cache:il1             il1:256:32:1:l 

# l2 instruction cache config, i.e., {<config>|dl2|dl3|none}
-cache:il2             il2:512:32:1:l

# l3 instruction cache config, i.e., {<config>|dl3|none}
-cache:il3             dl3

# instruction TLB config, i.e., {<config>|none}
-tlb:itlb              itlb:16:4096:4:l 

# data TLB config, i.e., {<config>|none}
-tlb:dtlb              dtlb:32:4096:4:l 

# flush caches on system calls
-flush                        false 

# convert 64-bit inst addresses to 32-bit inst equivalents
-cache:icompress              false 

# profile stat(s) against text addr's (mult uses ok)
# -pcstat                    <null> 

